[user]
	name = Pete Mariani
	email = pcmariani@gmail.com
[core]
	editor = nvim
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = master
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	autostash = true
[push]
	default = current
	autoSetupRemote = true
[diff]
	algorithm = histogram
[rerere]
	enabled = true
